<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- -------------
    Custom Css
------------------ -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    <title>::: Login :::</title>
</head>

<body class="login">

    <section class="main-area">
        <div class="container-fluid">
            <div class="row h100">
                <div class="col-md-12 p-0">
                    <div class="login">
                        <div class="center-box">
                            <br>
                            <div class="title">
                                <h4>ECOLE</h4>
                               
                            <br>

                            </div>


                            <div class="form-wrap">
                                <form class="pui-form" method="post" action="">

                                    <!-- ------------ CRÉATION DU PRENOM ET NOM  ------------------ -->
                                    <table>
                                        <tr>
                                          <td>
                                                
        
                                               <div class="pui-form__element">
                                            <label class="animated-label">Téléphone domicile</label>
                                            <input type="number" class="form-control" placeholder="" >
                                               
                                        </div>
        
                                    
                                    </td>
        
                                        <td>  &nbsp </td>
                                        
                                          <td>
        
                                              <div class="pui-form__element">
                                            <label class="animated-label">Téléphone mobile</label>
                                            <input type="email" class="form-control" placeholder=""
                                                type="number">
                                    
                                </div>
        
                                    </td>
                                        </tr>
        
                                    </table>

                                    
                                            <div class="pui-form__element">
                                                <label class="animated-label">Nom de l'école</label>
                                                <input type="text" class="form-control" placeholder="" >
                                                    
                                            </div>

                                    <div class="pui-form__element">
                                        <label class="animated-label">Adresse email</label>
                                        <input type="text" class="form-control" placeholder=""
                                        id="inputEmail" >
                                    </div>



                                    <table>
                                        <tr>
                                          <td>
        
                                               <div class="pui-form__element">
                                            <label class="animated-label">Code Postal</label>
                                            <input type="number" class="form-control" placeholder="" >
                                                
                                        </div>
        
                                    
                                    </td>
        
                                        <td>  &nbsp </td>
                                        
                                          <td>
        
                                              <div class="pui-form__element">
                                            <label class="animated-label">Ville</label>
                                            <input type="email" class="form-control" placeholder=""
                                                type="text" name="cpostal">
                                    
                                </div>
        
                                    </td>
                                        </tr>
        
                                       </table> 

                                <br>

                                    <div class="pui-form__element">
                                        <button class="btn btn-lg btn-primary btn-block" type="submit">Envoyer</button>
                                    </div>
                                    <br>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>









    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>