<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/main_pwa.js"></script>
    <link rel="manifest" href="./manifest.json">
    <meta name="theme-color" content="white"/>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="images/hello-icon-152.png">
<meta name="theme-color" content="white"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Hello World">
<meta name="msapplication-TileImage" content="images/hello-icon-144.png">
<meta name="msapplication-TileColor" content="#FFFFFF">

     <!------ Debut de navigation ---------->
     <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
     <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
     <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
     <link rel="stylesheet" href="css/navigation.css">
     <!------ Include the above in your HEAD tag ---------->

    <!-- -------------
    Custom Css  
        
------------------ -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>::: Login :::</title>

  



    <style>
   

    textarea{
padding:3px 10px 0px 10px;
width: 100%; /* adapter à 100% ou moins selon besoin... */
height: 100%; /* idem ci-dessus.... */
}
      
        </style>


</head>

<body class="login fullscreen" >
    <div class="container_pwa">
   
     <!------ DEBUT  NAVIGATION ---------->
        <div id="wrapper" class="">
                <div class="overlay" style="display: none;"></div>
                <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                   <ul class="nav sidebar-nav">
                      <li class="sidebar-brand">
                         <a href="./ajout_annonce.html"a>CDN </a>
                      </li>
                      <li>
                        <a href="./profil_etudiant.html"><i class="glyphicon glyphicon-folder-open"></i> Profil etudiant</a>
                     </li>

                      <li>
                        <a href="./profil_ecole.html"><i class="fa fa-graduation-cap"></i> Profil ecole</a>
                     </li>
                     <li>
                        <a href="./profil_entreprise.html"><i class="glyphicon glyphicon-briefcase"></i> Profil entreprise</a>
                     </li>

                     <li>
                        <a href="./simulateur.html"><i class="glyphicon glyphicon-road"></i> Itineraire d'étude </a>
                     </li>
                     
                      <li>
                         <a href="./chat.html"><i class="fa fa-comments"></i> Discussion </a>
                      </li>

                      <li>
                         <a href="./inscrip.html"><i class="glyphicon glyphicon-user"></i> Inscription </a>
                      </li>

                      <li>
                        <a href="./connex.html"><i class="fa fa-user-circle"></i> Connexion </a>
                     </li>

                      <li>
                         <a href="./rechercher.html"><i class="glyphicon glyphicon-search"></i> Rechercher </a>
                      </li>






                   </ul>
                </nav>
                <div id="page-content-wrapper">
                   <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                   <span class="hamb-top"></span>
                   <span class="hamb-middle"></span>
                   <span class="hamb-bottom"></span>
                   </button>
                   <div class="container">
                         <!------ DEBUT CONTENT  ---------->

    <section class="main-area">
        <div class="container-fluid">
            <div class="row h100">
                <div class="col-md-12 p-0">
                    <div class="login">
                        <div class="center-box">
                             <br>
                            <br>
                            <div class="title">
                                <h4>AJOUTER UNE ANNONCE</h4>

                                <br>

                            </div>
                            <div class="form-wrap">
                                <form class="pui-form" method="post" action="">
                                   


                                <!-- Métier -->
                                <div class="pui-form__element">
                                    <div class="custom__select">
                                        <select name="metier" class="form__select form__select--large form__select--offer" title="Choisissez un métier" >
                                            <option value="" selected="selected">Métier</option>
                                                                                    <option value="102" >Communication & Media</option>
                                                                                    <option value="103" >Design & Création</option>
                                                                                    <option value="121" >Digital</option>
                                                                                    <option value="112" >Recherche & Innovation</option>
                                                                                    <option value="107" >Tech. de l'information/Systèmes d'information</option>
                                        </select>
                                    </div>
                                        </div>

                                        <br>

                                <!-- Zone géographique -->
                                <div class="pui-form__element">
                                    <div class="custom__select">
                                        <select name="place" id="place" class="form__select form__select--large form__select--offer" title="Choisissez une zone géographique">
                                            <option value="" selected="selected">Zone géographique</option>
                                                                                        <option value="259" >Amériques</option>
                                                                                        <option value="261" >Asie-Pacifique</option>
                                                                                        <option value="258" >Europe (hors France)</option>
                                                                                        <option value="162" >France (incl. DOM TOM)</option>
                                                                                        <option value="260" >Japon</option>
                                                                                        <option value="368" >Moyen Orient / Afrique</option>
                                                                                                    </select>
                                </div>
                                    </div>
                                    <br>
                                <!-- Expérience professionnelle -->
                                <div class="pui-form__element">
                                    <div class="custom__select">
                                        <select name="experience" id="experience" class="form__select form__select--large form__select--offer" title="Sélectionnez parmi les durées d'expérience professionnelle">
                                            <option value="" selected="selected">Durée</option>
                                                                                    
                                                                                    <option value="8" >Débutant</option>
                                                                                    <option value="2" >2 mois</option>
                                                                                    <option value="3" >Minimum 2 mois</option>
                                                                                    <option value="9" >Minimum 6 mois</option>
                                                                                    <option value="10" >Minimum 1 ans</option>
                                                                                    <option value="55" >Minimum 2 ans</option>
                                                                                                    </select>
                                    </div>
                                </div>
                                <br>
                                <!-- Groupe d'activités -->
                                <div class="pui-form__element">                                    
                                    <div class="custom__select">
                                        <select name="activity" id="activity" class="form__select form__select--large form__select--offer" title="Choisissez un secteur d'activités">
                                                    <option value="" selected="selected">Secteur d'activités</option>
                                                                                    <option value="279" > Vins & Spiritueux</option>
                                                                                    <option value="278" >Mode & Maroquinerie</option>
                                                                                    <option value="280" >Parfums & Cosmétiques</option>
                                                                                    <option value="333" >Montres & Joaillerie</option>
                                                                                    <option value="334" >Distribution sélective</option>
                                                                                    <option value="335" >Autres activités (hôtellerie, média, …)</option>
                                                                                                    </select>
                                    </div>
                                </div>
                                <br>
                                <!-- Type de contrat -->
                                <div class="pui-form__element">                                    
                                    <div class="custom__select">
                                        <select name="contract" id="contract" class="form__select form__select--large form__select--offer" title="Choisissez un type de contrat">
                                            <option value="" selected="selected">Type de contrat</option>
                                                                                    <option value="2" >Emploi é durée indéterminée</option>
                                                                                    <option value="45" >Emploi é durée déterminée</option>
                                                                                    <option value="3" >Stage</option>
                                                                                    <option value="13" >Contrat d'apprentissage / alternance</option>
                                                                                                    </select>
                                    </div>
                                </div>

                                <br>
                                <!-- ------------ Insertion annonce  ------------------ -->
                                <div class="pui-form__element">                                    
                                    Annonce
                                
                               </div>
                               <div class="pui-form__element">                                    
                                
                                <textarea cols="auto" rows="10%" type="text"> </textarea>
                           </div>
                                
                                <br>
                                <br>
                                <div class="pui-form__element">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Envoyer </button>
                                </div>
                                <br>
                               </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </section>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/main.js"></script>


 <!-- ----------- Fin navigation ------------------ -->
</div>
</div>
</div>
</div>
<script  src="js/navigation.js"></script>
   <!-- ----------- Fin navigation ------------------ -->
</body>

</html>