<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


         <!------ Debut de navigation ---------->
         <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
         <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
         <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
         <link rel="stylesheet" href="css/navigation.css">
         
         <!------ Include the above in your HEAD tag ---------->

    <!-- -------------
    Custom Css
------------------ -->
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="css/chat.css">


    <title>::: Login :::</title>
</head>

<body class="login">
    <!------ DEBUT  NAVIGATION ---------->
        <div id="wrapper" class="">
                <div class="overlay" style="display: none;"></div>
                <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                   <ul class="nav sidebar-nav">
                      <li class="sidebar-brand">
                         <a href="./ajout_annonce.html"a>CDN </a>
                      </li>
                      <li>
                        <a href="./profil_etudiant.html"><i class="glyphicon glyphicon-folder-open"></i> Profil etudiant</a>
                     </li>

                      <li>
                        <a href="./profil_ecole.html"><i class="fa fa-graduation-cap"></i> Profil ecole</a>
                     </li>
                     <li>
                        <a href="./profil_entreprise.html"><i class="glyphicon glyphicon-briefcase"></i> Profil entreprise</a>
                     </li>

                     <li>
                        <a href="./simulateur.html"><i class="glyphicon glyphicon-road"></i> Itineraire d'étude </a>
                     </li>
                     
                      <li>
                         <a href="./chat.html"><i class="fa fa-comments"></i> Discussion </a>
                      </li>

                      <li>
                         <a href="./inscrip.html"><i class="glyphicon glyphicon-user"></i> Inscription </a>
                      </li>

                      <li>
                        <a href="./connex.html"><i class="fa fa-user-circle"></i> Connexion </a>
                     </li>

                      <li>
                         <a href="./rechercher.html"><i class="glyphicon glyphicon-search"></i> Rechercher </a>
                      </li>
                   </ul>
                </nav>
                <div id="page-content-wrapper">
                   <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                   <span class="hamb-top"></span>
                   <span class="hamb-middle"></span>
                   <span class="hamb-bottom"></span>
                   </button>
                   <div class="container">
                         <!------ DEBUT CONTENT  ---------->

                         
                  
                         
                        

    <section class="main-area">
        <div class="container-fluid">
            <div class="row h100">
                <div class="col-md-12 p-0">
                    <div class="login">
                        <div class="center-box">
                            <div class="title">



                
                               
                            <br>

                            </div>
                            <div class="form-wrap">
                                <!-- partial:index.partial.html -->
<section class="chatbox js-chatbox">
    <div class="chatbox__header">
      <h3 class="chatbox__header-cta-text"><span class="chatbox__header-cta-icon"><i
                    class="fas fa-comments"></i></span>Discussion</h3>
      <button class="js-chatbox-toggle chatbox__header-cta-btn u-btn"></button>
    </div>
    <!-- End of .chatbox__header -->
    <div class="js-chatbox-display chatbox__display">
  
    </div>
    <!-- End of .chatbox__display -->
    <form class="js-chatbox-form chatbox__form">
      <input type="text" class="js-chatbox-input chatbox__form-input" placeholder="Type your message..." required>
      <button class="chatbox__form-submit u-btn"><i class="fas fa-paper-plane"></i></button>
    </form>
    <!-- End of .chatbox__form -->
  
  </section>

                                  <script  src="js/chat.js"></script>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>









    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/main.js"></script>


 <!-- ----------- Fin navigation ------------------ -->
</div>
</div>
</div>
<script  src="js/navigation.js"></script>
   <!-- ----------- Fin navigation ------------------ -->

</body>

</html>