<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


        <!------ Debut de navigation ---------->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" href="css/navigation.css">
        <!------ Include the above in your HEAD tag ---------->
    <!-- -------------
    Custom Css
------------------ -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    <title>::: Login :::</title>
</head>

<body class="login">
<!------ DEBUT  NAVIGATION ---------->
<div id="wrapper" class="">
        <div class="overlay" style="display: none;"></div>
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
           <ul class="nav sidebar-nav">
              <li class="sidebar-brand">
                 <a href="./ajout_annonce.html"a>CDN </a>
              </li>
              <li>
                 <a href="./chat.html"><i class="glyphicon glyphicon-send"></i> Chat</a>
              </li>
              <li>
                    <a href="./simulateur.html"><i class="glyphicon glyphicon-road"></i> Simultauer </a>
                 </li>
              <li>
                 <a href="./inscrip.html"><i class="glyphicon glyphicon-user"></i> inscription</a>
              </li>
              <li>
                 <a href="./profil_ecole.html"><i class="glyphicon glyphicon-home"></i> Profil ecole</a>
              </li>
              <li>
                 <a href="./profil_entreprise.html"><i class="glyphicon glyphicon-briefcase"></i> Profile entreprise</a>
              </li>
              <li>
                    <a href="./profil_etudiant.html"><i class="glyphicon glyphicon-folder-open"></i> Profile etudiant</a>
                 </li>
              <li>
                 <a href="./rechercher.html"><i class="glyphicon glyphicon-search"></i> Rechercher</a>
              </li>
           </ul>
        </nav>
        <div id="page-content-wrapper">
           <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
           <span class="hamb-top"></span>
           <span class="hamb-middle"></span>
           <span class="hamb-bottom"></span>
           </button>
           <div class="container">
                 <!------ DEBUT CONTENT  ---------->
  
    <section class="main-area">
        <div class="container-fluid">
            <div class="row h100">
                <div class="col-md-12 p-0">
                    <div class="login">
                        <div class="center-box">
                            <div class="title">
                                <h4>COMPAGNONS DU NUMERIQUE</h4>
                               
                            <br>

                            </div>
                            <div class="form-wrap">
                                <form class="pui-form" method="post" action="">
                                    <div class="pui-form__element">
                                        <label class="animated-label">Localisation</label>
                                        <input type="text" id="inputEmail" class="form-control" placeholder=""
                                            required="">
                                    </div>
                                    <div class="pui-form__element">
                                        <label class="animated-label">Métier</label>
                                        <input type="text" id="inputEmail" class="form-control" placeholder=""
                                            required="">
                                    </div>

                                    <div class="pui-form__element">
                                        <label class="animated-label">Niveau d'étude</label>
                                        <input type="text" id="inputEmail" class="form-control" placeholder=""
                                            required="">
                                    </div>

                                    <div class="pui-form__element">
                                        <label class="animated-label">Type de contrat</label>
                                        <input type="text" id="inputEmail" class="form-control" placeholder=""
                                            required="">
                                    </div>

                                <br>

                                    <div class="pui-form__element">
                                        <button class="btn btn-lg btn-primary btn-block" type="submit">Envoyer</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>









    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/main.js"></script>

     <!-- ----------- Fin navigation ------------------ -->
</div>
</div>
</div>
<script  src="js/navigation.js"></script>
   <!-- ----------- Fin navigation ------------------ -->
</body>

</html>