<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="js/main_pwa.js"></script>
        <link rel="manifest" href="./manifest.json">
        <meta name="theme-color" content="white"/>
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/hello-icon-152.png">
    <meta name="theme-color" content="white"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Hello World">
    <meta name="msapplication-TileImage" content="images/hello-icon-144.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    
        <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin=""/>

        <!------ Debut de navigation ---------->
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link
            href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
            rel="stylesheet"
            id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/navigation.css">
        <!------ Include the above in your HEAD tag ---------->

        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script
            src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>

        <script src="https://d3js.org/d3.v5.min.js"></script>

        <style>
            #mapid {
                height: 600px;
            }
        </style>

    </head>

    <body class="fullscreen">
        <div class="container_pwa">

        <!------ DEBUT NAVIGATION ---------->
        <div id="wrapper" class="">
            <div class="overlay" style="display: none;"></div>
            <nav
                class="navbar navbar-inverse navbar-fixed-top"
                id="sidebar-wrapper"
                role="navigation">
                <ul class="nav sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="./ajout_annonce.html" a="a">CDN
                        </a>
                    </li>
                    <li>
                        <a href="./profil_etudiant.html"><i class="glyphicon glyphicon-folder-open"></i> Profil etudiant</a>
                     </li>

                      <li>
                        <a href="./profil_ecole.html"><i class="fa fa-graduation-cap"></i> Profil ecole</a>
                     </li>
                     <li>
                        <a href="./profil_entreprise.html"><i class="glyphicon glyphicon-briefcase"></i> Profil entreprise</a>
                     </li>

                     <li>
                        <a href="./simulateur.html"><i class="glyphicon glyphicon-road"></i> Itineraire d'étude </a>
                     </li>
                     
                      <li>
                         <a href="./chat.html"><i class="fa fa-comments"></i> Discussion </a>
                      </li>

                      <li>
                         <a href="./inscrip.html"><i class="glyphicon glyphicon-user"></i> Inscription </a>
                      </li>

                      <li>
                        <a href="./connex.html"><i class="fa fa-user-circle"></i> Connexion </a>
                     </li>

                      <li>
                         <a href="./rechercher.html"><i class="glyphicon glyphicon-search"></i> Rechercher </a>
                      </li>
                </ul>
            </nav>
            <div id="page-content-wrapper">
                <button
                    type="button"
                    class="hamburger animated fadeInLeft is-closed"
                    data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
                <div class="container">
                    <!------ DEBUT CONTENT ---------->

                    <div class="row">
                        <div class="col-4">

                            <ul class="list-group" id="lstResUni"></ul>

                        </div>
                        <div class="col-8">
                            <div id="mapid"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">

                            <script>
                                var lat = 48.946538,
                                    lng = 2.3632178;
                                var map = L
                                    .map('mapid')
                                    .setView([
                                        lat, lng
                                    ], 14);

                                L .tileLayer('//{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                                        attribution: 'donn&eacute;es &copy; <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - r' +
                                                'endu <a href="//openstreetmap.fr">OSM France</a>',
                                        minZoom: 1,
                                        maxZoom: 20
                                    })
                                    .addTo(map);

                                //récupère la géolocalisation de l'utilisateur
                                var geo = false;
                                if (navigator.geolocation) {
                                    navigator
                                        .geolocation
                                        .getCurrentPosition(function (p) {
                                            geo = p;
                                            L
                                                .marker([p.coords.latitude, p.coords.longitude])
                                                .addTo(map);

                                        });
                                }




                                // -------------------------------------------------------------------
                                // DEBUT Chargement de la liste des résidence du Crous
                                // -------------------------------------------------------------------//
                                var urlRes = "data/itemsLogementsCrous.json";

                                d3.json(urlRes, {crossOrigin: "anonymous"}).then(function (data) {
                                        console.log(data);

                                        var select = d3
                                            .select("#lstResUni")
                                            .append("select")
                                            .selectAll("option")
                                            .data(data)
                                            .enter()
                                            .append("option")
                                            .html(d => {
                                                return d["o:title"];

                                            })

                            //Relation click entre le menu et la carte et ajout du marker and zoom in 
                               
                                            .on("click", d => {
                                                console.log(d);
                                                let latlng = d["geo:lat_long"][0]["@value"].split(',');
                                                let m = L
                                                    .marker([
                                                        latlng[0], latlng[1]
                                                    ])
                                                    .addTo(map);
                                                var latLngs = [m.getLatLng()];
                                                var markerBounds = L.latLngBounds(latLngs);
                                                map.fitBounds(markerBounds);

                                            });
                                    });
                                // ---------------------------------------------------------------------
                                // FIN Chargement de la liste des résidence du Crous
                                // -------------------------------------------------------------------//


                                // --------------------------------------------------------------------
                                // DEBUT Chargement des etablissements de formation
                                // -------------------------------------------------------------------//
                                var urlRes = "data/itemsEcoles.json";

                                d3.json(urlRes, {crossOrigin: "anonymous"}).then(function (data) {
                                        console.log(data);
                                        
                                        var select = d3 .select("#lstResUni")
                            
                                            .append("select")
                                            .selectAll("option")
                                            .data(data)
                                            .enter()
                                            .append("option")
                                            .html(i => {
                                                return i["o:title"];

                                            })

                                            //Relation click entre le menu et la carte et ajout du marker and zoom in
                                            .on("click", i => {
                                                console.log(i);
                                                let latlng = i["geo:lat_long"][0]["@value"].split(',');
                                                let m = L
                                                    .marker([
                                                        latlng[0], latlng[1]
                                                    ])
                                                    .addTo(map);
                                                var latLngs = [m.getLatLng()];
                                                var markerBounds = L.latLngBounds(latLngs);
                                                map.fitBounds(markerBounds);
                                                
                                            });
                                    });
                                // --------------------------------------------------------------------
                                // FIN Chargement des etablissements de formation
                                // -------------------------------------------------------------------//
                                        
                              

                                // --------------------------------------------------------------------
                                // DEBUT Chargement des entreprises domaine informatique
                                // -------------------------------------------------------------------//
                                var urlRes = "data/itemsEntreprises.json";

                                d3.json(urlRes, {crossOrigin: "anonymous"}).then(function (data) {
                                        console.log(data);

                                        var select = d3
                                            .select("#lstResUni")
                                            .append("select")
                                            .selectAll("option")
                                            .data(data)
                                            .enter()
                                            .append("option")
                                            .html(e => {
                                                return e["o:title"];

                                            })

                                            //Relation click entre le menu et la carte et ajout du marker and zoom in
                                            .on("click", e => {
                                                console.log(e);
                                                let latlng = e["geo:lat_long"][0]["@value"].split(',');
                                                let m = L
                                                    .marker([
                                                        latlng[0], latlng[1]
                                                    ])
                                                    .addTo(map);
                                                var latLngs = [m.getLatLng()];
                                                var markerBounds = L.latLngBounds(latLngs);
                                                map.fitBounds(markerBounds);

                                            });
                                    });
                                // ---------------------------------------------------------------------
                                // FIN chargement des entreprises domaine informatique
                                // -------------------------------------------------------------------//
                            </script>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div> 

    <script src="js/navigation.js"></script>
</body>
</html>